@media print {
    @page {
      size: A4 landscape; /* Set the page size to A4 */
      margin: 0; /* Remove the margins */
      background-color: aliceblue;
    }
  }

body { padding-top: 70px;
    background-color: red;
}