{% extends "base.html" %}

{% block title %}
  Editions des fournées du {{ prod.name }}
{% endblock %}

{% block content %}

Test
<p>{{ form.1 }}</p>
<p>{{ form.2 }}</p>

Test list
{% for elm in form %}
            <li> {{ elm.T80 }}</li>
{% endfor %}


Test an actual form
<div class="container col-12">
    <form method="post">
      {% csrf_token %}
      {{ form.management_form }}
      {{ form.non_field_errors }}

      <!-- Headers -->
    <div class="row justify-content-center align-items-center g-2">
        {% for elm in form|slice:":1" %}
        <div class="row">
            {%  for pain in elm %}
                {% if pain.label == 'Prod id' %}
                <div class="col-1"></div>
                {% elif pain.label == 'Id' %}
                {% else %}
                <div class="col-1">
                    {{pain.label}}
                </div>
                {% endif %}
            {% endfor %}
    </div>
        {% endfor %}

    <!-- Values -->
    <div class="row justify-content-center align-items-center g-2">
        {% for elm in form %}
        <div class="row mt-2">

            {%  for pain in elm %}
            {% if pain.label == 'Prod id' %}
                <div class="col-1">
                   
                </div>
            {% endif%}

                <div class="col-1">
                {{pain}}
                </div>
            {% endfor %}
    </div>
        {% endfor %}
    </div>


      <p>
        <button type="submit" class="btn btn-primary col-md-6 mb-3 mt-3">
          Update Prod
        </button>
        <a href="{{ prod.get_absolute_url }}" role="button" class="btn btn-secondary col-md-6">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
