{% extends "base.html" %} {% block title2 %}
<div class="container-fluid text-center my-5">
  <h2 class="display-4 mb-4">Prod Edit Comparison</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title">En cours</h5>
        </div>
        <div class="card-body">
          <p class="lead">ID: {{ object.pk }}</p>
          <p class="lead">Date: {{ object.date }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">
          <h5 class="card-title">A comparer</h5>
        </div>
        <div class="card-body">
          <p class="lead">ID: {{ compare_prod.pk }}</p>
          <p class="lead">Date: {{ compare_prod.date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block content %}
<!-- Add the form -->
{% include "prod_edit__form.html" %} {% endblock %}
